ejemplos/gns3EnrutamientoRIP/project-files/virtualbox/9383f769-26ad-46a5-93d7-1566ea342a44/debianRedes2-buena-2/Snapshots/2020-05-12T00-33-09-864251000Z.sav filter=lfs diff=lfs merge=lfs -text
ejemplos/gns3EnrutamientoRIP/project-files/virtualbox/f3e8f101-5248-4fe4-87a5-076bd8a60b58/debianRedes2-buena-1/Snapshots/2020-05-12T00-33-09-864251000Z.sav filter=lfs diff=lfs merge=lfs -text
practica7/servidorDNS/project-files/virtualbox/5ee4e4d2-e142-4261-8726-38a18223bdb7/dns-server-1/Snapshots/{3addd554-f7ca-4199-a9c3-dd23365603eb}.vdi filter=lfs diff=lfs merge=lfs -text
practica9/http/project-files/virtualbox/509795c3-6dc7-4b68-b0d9-b1841c7c3b60/vmGenGui-2/Snapshots/{cd875abe-df5a-458e-9c20-5aaecd5169ea}.vdi filter=lfs diff=lfs merge=lfs -text
practica9/http/project-files/virtualbox/175476ad-d13a-4360-a226-34185d1df8eb/vmGenGui-1/Snapshots/{efb8bdd4-4258-412e-8b4a-3168f7eeb9b8}.vdi filter=lfs diff=lfs merge=lfs -text
